.u-section-1 {
  background-image: url("images/8fda27dc7955f6e0658eac918847d1663ef567c4a6645696ef09f07347ee410dff7c155259c450993ed9a6753085ba78f238b7f5b6f7a391543540_12801.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 64px;
}

.u-section-2 .u-text-1 {
  margin: 12px 0 0;
}.u-section-3 .u-sheet-1 {
  min-height: 231px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 174px;
  height: auto;
  width: 1128px;
  margin: 23px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 928px;
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    width: 708px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    width: 528px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    width: 328px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 372px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2026px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2774px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 189px;
}

.u-section-5 .u-custom-html-1 {
  min-height: 166px;
  height: auto;
  width: 1128px;
  margin: 12px auto 11px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    width: 928px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-custom-html-1 {
    width: 708px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-custom-html-1 {
    width: 528px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 279px;
    width: 329px;
    margin-bottom: 12px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 649px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1677px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2299px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 181px;
}

.u-section-7 .u-custom-html-1 {
  min-height: 157px;
  height: auto;
  width: 1128px;
  margin: 12px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    width: 928px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-custom-html-1 {
    width: 708px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-custom-html-1 {
    width: 528px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-custom-html-1 {
    width: 329px;
  }
}