.u-section-1 {
  background-image: url("images/8fda27dc7955f6e0658eac918847d1663ef567c4a6645696ef09f07347ee410dff7c155259c450993ed9a6753085ba78f238b7f5b6f7a391543540_12801.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 64px;
}

.u-section-2 .u-text-1 {
  margin: 12px 0 0;
}.u-section-3 .u-sheet-1 {
  min-height: 231px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 174px;
  margin-top: 17px;
  margin-bottom: 29px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 865px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}.u-section-5 .u-sheet-1 {
  min-height: 189px;
}

.u-section-5 .u-custom-html-1 {
  margin-top: 12px;
  margin-bottom: 12px;
  min-height: 166px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-custom-html-1 {
    height: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 426px;
}

.u-section-6 .u-text-1 {
  margin: 0 0 1px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-7 .u-sheet-1 {
  min-height: 181px;
}

.u-section-7 .u-custom-html-1 {
  margin-bottom: 12px;
  margin-top: 12px;
  min-height: 157px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    height: auto;
  }
}